/* CSS definition file containing sitestyle stylesheets */
BODY { background-image: url( "../assets/images/background.gif" );
	font-family : Arial;
	font-size : 10pt}
 
.nof_GlasgowTealSilverNavbar4-Regular {
font-family:Trebuchet MS ; font-size:8; font-weight:400; font-style:normal; color:#008faf 
}

.nof_GlasgowTealSilverNavbar5-Rollover {
font-family:Trebuchet MS ; font-size:8; font-weight:700; font-style:normal; color:#008faf 
}

.nof_GlasgowTealSilverNavbar6-Highlighted {
font-family:Trebuchet MS ; font-size:8; font-weight:700; font-style:normal; color:#535251 
}

.nof_GlasgowTealSilverNavbar7-HighlightedRollover {
font-family:Trebuchet MS ; font-size:8; font-weight:700; font-style:normal; color:#535251 
}

.nof_GlasgowTealSilverNavbar9-Regular {
font-family:Trebuchet MS ; font-size:8; font-weight:400; font-style:normal; color:#008faf 
}

.nof_GlasgowTealSilverNavbar10-Rollover {
font-family:Trebuchet MS ; font-size:8; font-weight:700; font-style:normal; color:#008faf 
}

.nof_GlasgowTealSilverNavbar11-Highlighted {
font-family:Trebuchet MS ; font-size:8; font-weight:700; font-style:normal; color:#535251 
}

.nof_GlasgowTealSilverNavbar12-HighlightedRollover {
font-family:Trebuchet MS ; font-size:8; font-weight:700; font-style:normal; color:#535251 
}

.nof_GlasgowTealSilverBanners34-Banner2 {
font-family:MS Sans Serif ; font-size:10; font-weight:400; font-style:normal; color:#000000; background-color:#ffffff; width:600px; height:50px; text-align:center 
}

p{	font-family : Arial;
	font-size : 10pt
}
.TextObject{	font-family : Arial;
	font-size : 10pt
}
pre{	font-family : Arial;
	font-size : 10pt
}
